
@font-face {
  font-family: 'DiavloBold-Regular';
  src: url('fonts/divavlo/DiavloBold-Regular.eot') format('embedded-opentype'),
     	url('fonts/divavlo/DiavloBold-Regular.otf')  format('opentype'),
     	url('fonts/divavlo/DiavloBold-Regular.ttf')  format('truetype'), url('DiavloBold-Regular.svg#DiavloBold-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Giovanni-Bold';
  src: url('fonts/Giovanni/Giovanni-Bold.eot') format('embedded-opentype'),
  		url('fonts/Giovanni/Giovanni-Bold.otf')  format('opentype'),
  		url('fonts/Giovanni/Giovanni-Bold.ttf')  format('truetype'), url('Giovanni-Bold.svg#Giovanni-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Corbel-Bold';
  src: url('fonts/Corbet/Corbel-Bold.eot') format('embedded-opentype'),
  	   url('fonts/corbet/Corbel-Bold.ttf')  format('truetype'), url('Corbel-Bold.svg#Corbel-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.header a.navbar-brand.hl
{
	padding-right: 76%;
}

.mr-auto a.nav-link.fix-text
{
	border: 1px solid #d1b751;
	padding: 5px 25px;
}

.header-3
{
	z-index: 1;
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

.header
{
	padding-left: 0px;
	padding-right: 0px;
}

.header-1
{
	padding-left: 0px;
	padding-right: 0px;
}

.header-1 a.navbar-brand.hc
{
	padding-right:100px;
	padding-left: 100px;
}

.mr-auto-30 li.nav-item a.nav-link
{
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Corbel-Bold';
	font-weight: 700;
}

.baner-top p
{
	font-family: 'DiavloBold-Regular';
	font-weight: 900;
	color: white;
	margin: 0;
	position: absolute;
	top: 300px;
	right: 270px;
	font-size: 90px;
}

.content-in-middle .item-article
{
	clear: left;
	padding-top: 35px;
	font-family: 'Giovanni-Bold';
}

.content-in-middle .col-md-8.content-right .wrap-img
{
	float: left;
	padding-left: 50px;
}

.content-in-middle .col-md-8.content-right h4.title
{
	padding-left: 280px;
}
.content-in-middle .col-md-8.content-right p.sub.title
{
	padding-left: 280px;
}

.content-news img
{
	padding-left: 35px;
}


.content-in-middle .col-md-8.content-right .wrap-img.setting
{
	padding-left: 250px;
}

.content-in-middle .col-md-8.content-right
{
	background-image: url(picture/background-right.jpg);
	background-repeat: no-repeat;
	max-height: 100%;
	height: 672px;
	width: 100%;
	object-fit: contain;
}
.content-in-middle .col-md-4.content-left
{
	background-image: url(picture/background-left.jpg);
	color: white;
	max-height: 100%;
	height: 672px;
	width: 100%;
	object-fit: contain;
}

.content-in-middle .col-md-4.content-left .sub.title{
	position: relative;
}

.left-content p.EX
{
	background-image: url('picture/Vector-Smart-Object.png');
	background-repeat: no-repeat;
	max-height: 100%;
	width: 100%;
	height: 400px;
	padding-left: 10px;
	font-size: 13px;
	color: white;
}
.left-content p{
	padding-top: 20px;
	margin: 40px;
}

.top-content h2.title
{
	padding-top: 30px;
	padding-left: 30px;
}


.content-in-middle .col-md-4.content-left img
{
	padding-left: 30px;
	padding-top: 40px;
}

.content-in-middle .col-md-4.content-left .sub.title:after
{
	content: url('picture/stick-above.png');
	position: absolute;
	opacity: 1;
	height: 100%;
	left: 30px;
	top: 0;

}

.content-in-middle .col-md-4.content-left .sub.title:before
{
	content: url('picture/stick-under.png');
	position: absolute;
	opacity: 1;
	height: 100%;
	top: 90px;
	left: 360px;

}

.content-in-middle .content-left .carousel-inner .carousel-item .but a
{
	background-image: url(picture/vector.png);
	background-repeat: no-repeat;
	max-height: 100%;
	margin-left: 140px;
	margin-bottom: 30px;
	padding:0 20px;
	padding-top: 5px;
	padding-bottom: 40px;

}

.col-md-8.content-right nav ul.pagination
{
	padding-top: 30px;
	padding-left: 400px;
}



footer
{
	background-image: url(picture/footer.jpg);
	padding: 50px;
}

.col-md-4.content-left img
{
	padding-top: 45px;
}

.col-md-2.content-left-mid h2
{
	font-size: 20px;
}

.col-md-2.content-left-mid
{
	clear: right;
	font-family: 'Giovanni-Bold';
	font-size: 14px;
	color: white;
}

.col-md-2.content-right-mid h2
{
	font-size: 20px;
}

.col-md-2.content-right-mid
{
	clear: left;
	font-family: 'Giovanni-Bold';
	font-size: 14px;
	color: white;
}

.col-md-4.content-right
{
	clear:right;
	font-family: 'Giovanni-Bold';
	font-size: 14px;
	color: white;
	padding-left: 40px;
	padding-top: 40px;
}