
@font-face {
  font-family: 'Giovanni-Bold';
  src: url('Giovanni-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Giovanni-Bold';
  src:  url('Giovanni-Bold.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAERoAA8AAAAAgBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABETAAAABoA
AAAcSzGUY0dERUYAAEGgAAAAHwAAACABFAAGR1BPUwAAQeAAAAJqAAAEzB+5KNhHU1VCAABBwAAA
ACAAAAAgbJF0j09TLzIAAAHMAAAATQAAAGATuiesY21hcAAABDQAAAGmAAAB8sPXXIpnYXNwAABB
mAAAAAgAAAAI//8AA2dseWYAAAesAAA2zwAAbHxPf7zGaGVhZAAAAVgAAAAzAAAANhA0t6FoaGVh
AAABjAAAACAAAAAkCEgEfmhtdHgAAAIcAAACFgAAA5rjkSLbbG9jYQAABdwAAAHQAAAB0Kuhxq5t
YXhwAAABrAAAAB4AAAAgATAAYG5hbWUAAD58AAABuAAAAzyKiuzbcG9zdAAAQDQAAAFkAAAB8DZM
NwJ42mNgZGBgAGL/wO7AeH6brwzczC+AIgzX9KwkYfT/K//+sjxh7gWq42BgAokCADnVDBMAeNpj
YGRgYO7995eBgeXf/yv/57A8YQCKoIBnAMU6CMx42mNgZGBgeM4Qy8DOAAJMQMzIABJzAPMZACRM
AZEAAHjaY2BiPMq0h4GVgYGpi6mLgYFhGoRm/MJgxPCQAQk0MDDoOzAweCCLMSgwKPxmYrrwX4XB
m7mXkVmBgVHQESjMeJxpCliWCQC0ow2VAAAAeNptk09rk0EQh2d3C62H1ooSkzSN1ZTmfdMkGq1G
DI2nYFEUYiOoKBZCeyulRQOCNxEEQbz1IPgBBL+Bn0IEvRYsVEsP0mChB9dnNqjxT+BhdufdmZ2d
38QkJPzMVWBt1uS+eS13bVHGoOoeSsa+k4p8lSv4b8MM/gdwhvMZU5Nx7BxxB/FNwTIkYAKykIdZ
uAjnoBzOE8v6vOZRS95ZtyX3bMdv245M2zdScBkp2jrxg7ApM+zLZkEiah20L/mW4sySjNo9GXcn
5axtSjnYp8SnpGKLfpdvSc3pXvkv2D1b9zu2LQPmiaxozdjrWrfp8vYWb+lKTJ7D5q1MYvNmQ2Lu
S1FDjrgx3hubSJy+jXWO/kzh17MlSENMzhzvKRE3xH7EbPgtu+n3sbvwmZwjxD/j+3PsIzhKLavY
OhQghlF61MZeoq4j1JVm/Zi60qH3XUnhn2T9IuzXqWddqvhucechfDfgI/ub+C+zXiT2FPVWQOuO
qfFCr9//4lr+vWoQ+t+HWfDfggY90mgy8bP/f8Odd4JVDfpRDZrU3pGk9vt/oPcx1SD0v5+a/xQ0
qIXZGwp9/93/P9HZavIGNOhHNVCtghbkYlZy2CTzd9q1wlxVVL9fs9LTq0AvI8iGOWnJKjRgHhwM
cyYiR8R/pQQnQOdAZztS+N6Aa7yvwbmlge9omJDjUDXOf+CuA6HmtmQl8wP+b7W/AAB42mNgYGBm
gGAZBkYGEHgD5DGC+SwMF4C0AYMCkCXAUMewhuE/oyGjE2MwYyJjBWMd4ySm40x3FUQUpBTkFJQU
1BQMFKwUXBSVlIR+M/3/D9SpwLCQYR1QhyNjEGMCUEctUMcxphsKwgoSCjIKCmAdllAdjP///3/8
/+D/A//7/zf8L/yf+t//v/d/i3+sf78+OPBg74M9D3Y/2PFg/YPlD+bdP3jvEusTqGtJAoxsDHBt
jExAggldATAoWFjZ2Dk4ubh5ePn4BQSFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTS1tHV09fQNDI2M
TUzNzC0sraxtbO3sHRydnF1c3dw9PL28fXz9/AMCg4JDQsPCIyKjomNi4+ITEhlaWts7J06bs3DB
oiWLly5fuWLV6rVr1q3fuHnTlm1bd+3cved2QXJKxt2y+XlZj0syGdpmMBQyMKSVgl2XXcWwbEd9
Ui7DKQaGnOp7DA3NUw8fuXzlxs2r17Yz7D/+iOHBw6fP7pRfv3W/qauxu6O3r79n8hSGSbNmzzxw
+mL+2XPnKy5dOAMACyKXEAAAAAAAAAAAAAAAAAAmADwAbgDEARoBjAGaAbwB3gJKAl4CcgKAApYC
pgLUAv4DLgNwA6YD4AQUBEQEogTSBPQFFgUqBT4FUAWYBf4GPgaKBswHCgdYB5oH4AgsCFQIfAjQ
CQQJRgl8CaQJ3goiCnQKuArqCzALaguyDBgMYAyQDK4MvAzaDO4M+g0ODWQNng3GDgoOPA52DuAP
Kg9eD5YP7BAQEIAQxhD0EUYRhBG+EfoSNBKCEsgTFBN2E8AT6hQuFDwUgBSuFNQVEhVgFZwV8hYG
FnIWlBbkFyIXRBdUF7AXvhfgF/oYJBhkGHgYuBjYGO4ZEBk6GWIZhBniGkIauBsAG0wbmBvkHEgc
ohz+HWAduh4WHnIezh84H24fpB/aIB4gaCDEIPghLCFgIawh7iIIIkwioCL0I0gjqiP+JEgkriUS
JXYl2iZWJsgnPCeoJ+ooKChmKKQo8CkiKVQphinGKhwqhirCKv4rOiuOK9gsBCxULK4tCC1kLcwu
Ii5uLtIu9i8wL14vtjAgMHIwvDEeMVwxlDHOMeIx9jISMigyTDJqMpYyrjK8Msoy4jL6MxIzOjNi
M4oz0DQ6NE40fDTwNQQ1GDUqNZY1ojXwNj542q19CWAb1ZnwvDen7nM00kga3RrZliVZpy3b8u34
jhMnJM4BIScBQggEKGfZQIHAcpQSjhZaCqVlt7uUtku7u22Bsi2U/u0uu0vpdltKd+nN0dJS2rJk
/L83M7Jlx05idlssj0fK+4733fN9TwQkDs+9BSB8mOAIN0FU2CSUyxUGktFkqVgu5D28m/nxEAjR
g2NUSA7IcsCfSr0qxcA5ab85pRxV3lDv+AMyQUBiO7gaTMC7CJJgCQKQBTKGfgBh3WL+HvpBbwrK
r/AP/qyfgNABP4B+hxBcuRKrFNSfAqv+sDH1B99HNz7SFjvXe3bigHd3siN5CP3s9W5P7BZnW9pi
h4qJQwkYubv3gd6H0P/Qry9H7n75gQcIhEVl7jPgNfhdIk0UiSpBCKUMQNQVJICuKERfpVThPQLD
xtB9XqJ4txWyPFlieLcEBb4GSsU/j61tcokGX60kij1R6eLe3FmdZq9BSDf7oj2pcKqnW8ptsIdd
fcnu2VlSiLaKyRb2bYMxEu2OjWwla+4pUo6H/AHT9zhLNNmbzI02eagh8NIzjjEh4TXf8t9koTxF
EARNBOZeJrch3lkIL5Ek2ogOxBW8CTVS3QXZXcjXYKkYi4Ll78qgIDAE++U1GyKpqmhbs/HXE3zA
RI33wdIJt5RjIXBVle1Vvub80/YtXZtTArl19gfPPhQotoYfPX7HCbeU67LwJnbf8VdSCFXE17a5
F+BjSGbaiQECYU+zSZlhmZiKGKyUK/OyYyVZj1AuFZNyqcZodwArAeAWMNbJKEO6PYV8JSlbIXzM
mtzV2dw9s+cv/cVogIaRcycLvWKgYhe6vu7o74MOxm50OIyZUdHlbokroznREw13JdcenB3p/8I5
LjvfSiaHU1Z+37pkT06wk2CwZcuhai7YHmsxWYc+Fm2ennSYgJFkSQrM9jePBr1No9A/NMS7quFU
e0m5c2Z39upLbLYMphEQ4+Bq4hFVlgkXkuLZeQFG722Zc4FL4CuEC9HORzPQXoMF3koiqQGX9O+a
SqWmdvUHK6VwuFT5T1fuwNeB/esHci6ucs6XXv/SORVt/SJaY622hlCqkcUMlEt5CdqtsKj/06C+
1Bvz/5LDiym/RYtpa1wCCuDLaB+m0R8ZrlSsyGgT5BpbUQW9kBfwTtRARYK8mxXwDcR+XmIF/DEW
7wYDPMAAWUgDCOxwIG90QoPBaQyY4mxvlYuQ8jC0GziLhTPY4bBMRrhqLxs3BYxOgwE6jfkBaAeQ
ghwwgQLkSI7iOKOZDRfhEGdyWiyskTJCaI+nDCOwPer0Gkwmg9cZbYcjhlTcDiF6m7VYnCZuCBbD
nNVgpI3QhOgqIHr+DJ4lTARRKMVKhVKBL/Ax/q0nnxx7Uv0Ze1KlPzB3CfE8cYwwIB6y5VK54kY0
nT3UXe4AF3t/mHbTgIFF9Lkg8VUgAQbvZQ8osEH+df6rY2MaD0fm3iL+mbgMwxIajN4tuq2zLdg3
QNjmeLATvoDXERDrbcDdo7z+GvmV94bwWpBIzr0FGfghpMMBJBkLemoHSDSQppIlO9JU4/kfCOUH
+xMXXKrcbxILManZYyavPGB74NjMtRNtzo9+WLkHjLbv2FxIljbUWoC+1wfQy3+itX2YJxVkmxzF
DIhFbUBGwic43J4Q4G/oD5sZo8no7edcBw4CmzncL3JUbAZwne02yiRyyaRJic7EKE5U1/QgpEm0
ZhitKceRQsairKybFivDSqTARkygZ7BzLB+zhkpr81P7nd6WSCVYosUt3VeYwuI/vdC3YY/gb27z
z66XeoudqbKvlWYMFAPG0Pph5FteRetnkQ7JGmOR+AG0OI0EEFlipPxlDWwJXapXVnh2pOuBLeuv
6dohtfaUur3mXb1GDz20uX9g76g75Yzf05kJZCQb+JXr6FTzRUkIt/VmxzNRuwEkmoJD64dG1lEt
8OqmDnfci/dEQi8iwiFARHTOdYOIXKOQmRIcBYGN8SrrZEeMYX+aCluUd/mWUoe4IdgRMlzIDhTN
ocDn4eGNIk35q1n31PYN8QNJB8kpu20t2W4vTYn/BYY//qi2R7JK771EAtEr6IKkEYq3X6dUdlTQ
dQW5ncjH2KHqukOfvnZ42iDQHnd/srp2e6kp6Te90xbjfM6w8gdwOR3eM3PoinhTWHAFN6+ZmYk5
QNRo9hgH8xrMbgTzPURfbIHHdUuM9J1FEJE7m+fz21S5veesa3btuKZr16U9hVYuKp33od5apnW8
gwOTzuadwxdffcv1Z390a9YZ4D738IU3TJbHzlPh9My9imT7UizZaFVZtfNobZZhEX0RAXlOK/kb
03CIHjocztuengo7KCiaIuBOg1mebbIkrB4PG2oO7X+gsL7fljUy3P5OU2btg+ulmfgo9illRMc7
iI4QkSP669oDKxly3pdAJJCIOGRmKc19xHT/gUjLkDJ2IsC+8wNCOiY6vUn34e1r97jiIi9G2nxH
/t7hTiEHYbfbujPJXHq6t61TjLSHRAZ6fYJt84ZUd4o3mRyJvLR260SflI+5zFZvpk/echY0umKC
z+gGdj4bzg1VlOu6NneVpWI4bDZCYPV2IN5kEO6/0PQI8Br3F3a/omMIY1G0ESAuy73bLtu2+9In
7m0vmrItB/dbxExw4yBIu5itQzsvvO2yZ77LRx1fPta8cTJ33fRWLMOqjQLPITuHvIUrmlRXR5yY
v6pbK7/+G/TJ7TL6T3lc+43WwLZyfo0FaynPr6HZzZq+woL9/JW+BKKzfe5t8HvwdYJB+5MoJXgL
AL9XhsBXlNvBIfO3x/5h7K5HVDtYIA4j+71eiwNdpQhPo58CeFapgmcBNzZ2l2p8F60nlFpBiebb
wSG02FfMY4/chZbDa2H5vgD5uASKiYiEoMs2qdkKMG+uGNaKnJyHbeA9qMJitG1NsLk52BwWmsyW
gNmT7pWLI4mo3ymWe3VKX7N421sDeTmZEyNNQYdb4KVmoaOY7AiJroyQaT6+4AEwPmfNHSCPIj2o
EEhskdwDFSFifrt1BEEBOXMBRbJI++rKZwWqJlbKCRy2AaRAOMRU3yDjYvjvDn7xV8D8dx994W/P
HybbxzrGxy7vCbYEjKznjJluqe/GJ46c9cULnvz4Zy8llclhf9ZlgSCZiQRbz+4U4pv/4c4vAPOX
brvua2v6xgdH7t1nl6zW8r8c4/33Hr76rov+fsfVD+2Ce/pCIk/C7nuCvtSV9xJw7jVE0HXwQSS3
iLgYto0VV7nikgAyiJFSBWGdBUnkYhAN6I6LxRGEzPtcovslf+RFq8/rU36WinKVyA1+2S2WR9cl
WhPZGZFhIm0wYCCPfycRZWhRZGin2XOP2XKg3eakjSIkf8HQP8c634Lgj6MYK4KuSqp1LmOg2LUh
fY7JpUhe9RhY7WMkX+cj6ajbsxZvmDEgLTQ4SOAFzS8d9Rfbox+/pjMxMDlS9Xub5f7+jRtFkuUs
0xQLLpClEEeTgBRvvqwJUu7kQMueTXDfO5WxjgHlZeU1+1itfyuWy2bkx+9FMpdRJQ5HttgMqQbV
w7MZRrWpEo09egUejpv9Zx/qPGfncHPvedePfmCzI06SVruUaI/svwIY7LHsRDY31SwZ4L8xl3Wl
3PnJyyY23TTTnJ7eQNutaTHhsT/0IVtgqH04F4lnukNmTc7S6OVniDdGohnp0DzFUbLu/MksQPyR
aNWb/qGj6QPX33ZN5F1v1AJIi9XuBR2J6oaeoXSQ4mND2+/cAvcc/1f7/bfefsfxO0WSjq0F58vB
CMeSpEjafG0D+3rdqeGugUxI9WMIdgbBLi/ak6S2JZgDVAtwIIRQMMXH5AxAf3lwIlJR3ZqMN8UY
oqAXfNcc59zullhyZHA4RiFRoOlo/0hNLgzEHBwEcc4nkoxB3Zzz10ks2pnCQVrOBsykMmeRYs8h
I6v8weZJN4UNFLt/SscNzCHcMgtxUBJzAqNFq2jVoI4XbAG6cxfiZnMMoYPCWsbuCLdG1k7FApKB
ZBBGlC/SstYcF0SSCs2AC6bDDCkOb6PCnpTZSSm/BgaHPfZ80u0g710XQm9psftb8DtIPuoWKQNP
kA6s5yUNM57Fii8B+EXyznPX33RBre/g9eNXrffINOWwh5Pt0YsuuPVwOG1JtoGg22uijVUhn5w+
um3LTWuT8rpZ2mPLeRIO28M3HHuU3VHysKyIUPW3JYMMxgXxAb6J+IFi5opjAWAQRBrBa/FhRA9/
+IW/LrFEvcCOpSajXgkxiyUmKL9Fd5R/Q3fUq4+AA1NxmkRw6fjknR+ev55S7lq4fuxzk/VrjBdK
FUE7wkvA0rsAr9SA41v19es4QKDcOb/IZANQtB47dzUoo/VQUCeg8K1xHUSdFVoYSeaNsL6UPX/G
dU5ra+umvgGQXVhT+coZeyYxaqp+PYjW61oiRxrzsH3G1g9lHmwUZbEofuPRPlMNQpVuQFwSz18f
T/zR7ZTbWsaC5+1t8W8WfalAaz5utQdtNvSxpRRN3nf5lQYLRYki5cm3bQp//u6ECK2BynS36PU9
qiKsxXdI+6GE8Iwu1sUF2rHm0VjvmrHe1THqCkutYbeTs1JxI1YyzryWMoKDEzENfmxCabOyTlvM
mTOyF4wgOHZkkNfDj+LYtVD3BMBVLsx7gxqQyRjJsPgF028XvTwZFfzA/K7PJ5Fun6T8PIKiUwv8
V97x39AMHfEI0vdgFsZpoJjBm8zxV8ph1Qgw3hzYrAwhC/BN5dGsl6V1WoNzf4I/hh+bj9RLjnIB
4DxH2whMLRMDDreKUlAKWUQBPG30BIM/QddBQRnA1yJF9ZwPnmOVELBsGOSRgVPvKCjA/aHyzrp+
nkKshUQJ6fC7SIeNWEKp8HzYkKhHlMixM7BZeeGbL9xz3zePf/fc83fva9o9tmuf7W8e/PTT6OdT
N33p0Ws33bxdj/2xHg6gfUoukac89l4odi3pvp7VlCGjS4+xeWA8HymdsbG1b+yMAT5gjSaRdsen
wIHJJEKU9ST6W7s2t/IgaVgzMz7FKunJBKXJBqZhkpQQDX6iFUVkamyE448MUInBWT9K4pAso/QT
aIUiRJWVRGldy9im61Nm7+a7zv7nh864cbrpA2e7jzRLx59L7RmtbmhxpfeMlNe18kfMid19YM09
ex9/srL9op5bPx8KnQu+P3XTzuLsrs6ZW7aDwqZ9GA/sx+9BtHNEO9Z2PZMj+RPVXuUGRkrwCFih
YBZkqNjbbXesrQW88+YgJoBwtDSciUwUXWdmHdlN8fakx5hkeYPb54T7lJc/OjCpPH7LvFojbk1h
waZc0b7Wrk3e5kc7PbToTkj8mKXV4cHFSKINxZFvI16hdBrEknKG1Jw43hy003KyVJEobeMplXuC
BzwfB4C1SKV4ur3/zDP7x8/r3TMezDLGYLQrnq1mhqaHMpfv3dZnAj8j6WCs5C9nmvtz5dnOga3x
1MSFRn+8LxXuzsu9qVxmIrd1NjGAXdfvEa86EK9w1dOhhrCxIkqgUFYcw7alwVR+L9VREWxxIwnT
pDFuEyodKUfOq3zHm3N8GLzsy3Vbb7fZbrd253xKbDLMYlawYVUWvUi2f4hgoLybljNUFFOIfNRi
k4k91KI7DNzqhcj9cFzPuR19sy2Oui0Z27xmpH7tsQWglTaQISneN9gCuhpM69vn7mgDjyzcOH6c
Q/S+Nvc2/AjCBdkVmsywGjjEecFVcJXrJhbpB8kA6WXIUQzNGcysD8RbkpZj8Kgz2fILwR3lvV/1
mmGW4Tkba2AYiHwgy7rNYWUfONLm9NAsjjKzmS6l2YBg/nruHfLLCCay8QKJZazuhFWgFQ3yglVh
dav2uy+aDG6nHwRlr818EB6zxz4PN3tNJnP2F6Iv5LsvEPsbeCxshE0xXsAQOdpgZNPKNeAlhlIk
0L/fzBlJksNRTnWd4kfm7dtKL8bnj2jPb0T4jOpRdg+QM8w8J0IAG/UMynhReIUQYmzAJXENITjL
4PDbwAcinofugRbKzJqtnBcEEiHntq1OQEKaZEgWJF6NJH13fRmaSAPNsUYjE1G+l4jYL90neHPI
poihn/6B9NB2xkAD5HYYxsRI99wTISFJQgggRLEQa4h+U3mZdNBW2kgyEH+Momxc8JkvyCLFqjWj
uTcQLbs02cJ2DnYDFBiSuhgxOjHJOmttAHtTzWDfkfJ4SKd0q0HygHCb5D90gLc5sj+XrAFhW4ub
9HhSIk06Hc7a+HAFADvyCiLHiB0//lnWbmRJxG+aDMQfWjezqYY+RNZ9BoXw2YHwCeAaVpmoIJWi
WLlYiQhAi0mRZ7QaO0BX5WhTuUlwGbm4FfzRrOzun+1blxdtcZvXMwKeWkfZbalojNo9ZT/+uNXe
WmzjLp7E6x+cs4ECfAH7R8GBdwdtGVIewVMQ+IPfiMqs0S6xZPQt8uteEsWyTe+9nnJAQHqX1Avp
GCiAnT3K6z2vkV/B761H63r0dTW/Xo+wC471KI00qct+4y111WbSLaurvteD/22SmIMsohkFgH5Q
cMVMIPm97n/p/dwXiDlwTDkPbFD+RuUNMXcdeHvuCQyfR9sD3r46n1f9LKSJd+HTanaOyzcSfNf1
bUuY7B6Dku+KaIgsDqr+pQnZzN+Al1Cc21OPdIFshVqGy1XwcwekuciaYteJtxnl4nIpOl9zqiTB
62QmJTU5jB5fV7g6arIFvSlfK5+mN/lbgkhdnIazL53tBIxFdNJfQzTlRpoiwTAlWHwOp91md3fn
nFHR53SarLQZeC90JwWnTzx345lXBqWM4Nx1AIlZIutNIVxdc2/AFOKnV62+Oeo1I2TabSiEwCjF
SmWURwnzmdTzQ8Wzbsyt3VEYGnfEjV7WDS4cDvvszsHeg8M++ILyS+ni8/v21cI+HwVLEwUoCso3
lL8OMtTe6TMPqfyNI/48g/jja6hM4DSAQTyp8wD8g2HNgS135Kdn01tb2bCho9rWuX9dS5e3cNne
/v3d4UiL3Ldp/NwDmN8ysttDiAazmnk6cMlIW8RVqlNQwLJXwFlWfR8Qz8FNFlvc0ze2ty/u0Qmx
hHmyulu0RzqDW4+09m7olQLdYNpsMu+c2nEJeGS9Ss/x7/bFoV9wZTi38/B5fbtLUeP8vr+I6HLj
6mmdMhxRkAgwQgeJDA6PrBA8Z1x7cMfNN2/NrJEDRurQV0MfKb5+/lqmrVVKWagRofeKiw7d5A3n
o0Kp5dHvO8TqaGYkqekt4hn4PHwF71bFIZfKFdXpapyzwiBA8QHDNnjDnaNl1+EL+luMEtvd4vGb
yaFKV6/Nn1L+5PbbzgKdRpGFFz8SaZWqYrnY1IE8BEsq30z5IBRFiNURaUFsjodWRFeF6Ccm1Vod
q1dtkNFAjBYkKMzXT8uVkprXURX8CyHHuus16vmyI7qG1rYW8dBGnxdYWDND+/3Sjrx7932Xn3m4
uyRIEbPVb5NgsClxaOPYx/OpM9qa5Qw/0dUxOdN7JfiCaKRj6akZZL45xkRbBGSGKSa4deOOsb54
hYKsJeE1uq0OzgaMvu6W8dn7y0PXljv7lMH8cE+mSc1j/GjDRpDMFLX8ry4l6m4hlcT8i2lpn1Zd
t+khhnpz1iSo0jKwNd0j2aHVz7/N+62lgkXwGI0m/c+zwDfGVen/TjWU7EtIj6UECjOVElJPdQ7Q
ZpbjlNfm76nygxALwicIj561qNCxNLNonzXwjQ+YmxAQQFtMnHf7LIL5F1IqJQWbmvC2pV53uoMW
JhiilaMpLwlF2JQKBVNNgRDWeXLOS3wfwfFpOo+fWSTlRcAaoPw7oEzOYFNHgoNdAR2coIMCLylH
5ERvJBeM+kwWi/vmx76rw908Dw7xGj9LyCJe9zTE+HWG42rIQjxDs8gW6hkjVc8YJUSnrp6hpC/S
Ggq/7LJ77H5Xge+v5lyOCTHl9ZmDBmPA6LRbMPtVFoB/0oxP0RZMFlwGnDOSJMuJrjJ/zpYuTuQM
or3V4sja3fQHVXlX9SuGXgSEK78MrpoALGCzBNLx21VWa3qK1JXciXRmA5Kv0jxfecxUQa1y0kuk
DMXzUdaz9CYp1zMf9dZufQM2DU60l93CdFukEPGaGaCLHKDNbmQzJKb+t8EZ97Um0V+/433Ws+aF
orMzLAmyzSNHKnHpwyrWKiG3+QK5YMiaCAg/W7j5j25vk5cHTcrr8/ewDcc1SNXHnUDfCTTEFtGw
s05D/7aRtXVETXyTlI2fgGi1un5H3RhBX+q2cKw9KCSVX83fUu1uK7L/cYSLiQjqT0B02SUbEzhs
d+P7b7v7nHNvv/u/fLXWSM5r9HTnwjmfyXbZpZd/8LKLrv4ggO07BhPdtUh160CsWkNri3NxiOSc
cOLOApdD4haqqfNUS7DQ4Dcb0rcXgIk0M2ajxc711M6c8P8lJh1KB6so9ISDtW1X5We2tTlLtoCs
/Alz4Q7ls8AAOWTXSLD/jPUXHn8NfFNlhZikaN6aunLv4P5qkL0k5YVqsuAhdL8ThzXwHmHB1aN5
/4dJJ7U9UDNczcdWdDFGvs+c8vcOxDZ22cpywFYc2XclKG7cnu0rZENoH9rAVovRcs7m7KYe5c8q
828NXb1t+Pwuydl+/MbF+nIM8SexSA48PIrMVL+EGc82sORszAKrc8cIlw07HKkmVxM1wXntZiml
suCsX2r0hk05Pm9m0y0B4Hf/vj2I6x/adiOYaL/BjQhmM85J1YKDlpEyakJawISrz7Y0L48y0v0p
MpcTIpn+gcyZOyZqzhQ9VJTimYH+DHRFR/ODRROoJSfiYrA5FKs196wLjQznNiUDkYwUq6U5Vzri
D7QguByCuw2OYFq1qI7sBiiyK9VApaSWcPOq9+XVgA5sZKcHI1mPGTJVs7Fi6ukwGyG53dJRBAZH
xCcWkNWS2iPSe4BB5pmBLaUIWxngIPLHX5OT7T63RqsVyXY7orWMc1LWqkNt9ApqtO5ovJNHuIBP
+s0mxmvxuf3W1lrUQdU9RWbAIlp5UP/TlKFhv63AspSZNlCkJ9yZS3143nn8YniCYU0onZ+/8701
eSAKKm5zv0T8+CN4DtcGUL5I6fkiNZ+akbpVN6BM8cVPMZyZclEuYGqCVoojDWfPGkmWtpBNz7lI
jkYfoWiKJj/us4EjVrsJcgBlVhwgAbpp9hx/x28jaZxxoTyRQXdJSNEsZ2KVj9hVXN5FfHob4ZJX
caEbssQCrsYVFiFE4dTVBJhv/gVKoNEqXACQcogbhheJ3g/CHgPJUVYoPxswmI2UAV7rar7ikNMG
DtEelEZzEGHAcQZH4Oegy6j8449bjCRNIYzwbZK1G0RG+ZSFA2XlFZNWtwDvILyG1Bw2ryaxepqn
5bA1qiGltgGhrilQTWGtqiKjWxaPRXL5zr4oJPr+FBTMXSXIUjRkWUPwKcERjG28Hr2hzAWNBso8
1EEZSBqgXUPvipB3By/5TAu2lxRlpN1nTkIjY0BprpanIsXe9yXtXUDSNOe4YBNjpTlEEkmrH0E0
/ArlXO9ovAWkFZlzlCfiR4kymeGWpON1QsB1H3JJ2ZrMuM1UpavNfz1gkc1D63OMD0lAyLBziyHU
9A2XEAVW5VvZak+IYjP2aKAtGO0CzSRKpClEH6nz2ux5912JMnC4RsB0aHqBXn6EcPLi/BWbADY2
n7xSWBe9RlC4oqPZErWCD5mV74e6Y4WE241SdavHAe5Ir5mYtCuHacZtbeYlZlc/XvMW5Th4HL6q
1n94XA2s6D1Y6FJWQ1terYboT9WRoGPCPeDx6est9t5MtsduuX66WGbYUFdUEsSi5GWZ8q995M6h
UN+0NT1o89r6stbpvtDQTtJnnsrwve2CXGt2IkMbiZYlob2Xz0whPG6bY4in4Jtqv4yj4Lit7V3y
l+95NXtwFcLxkxqOrnnEaqT6wF9HF3eKqIgJ8+gyV2G0vFJRFKRoVwihVcQ492QzvQhn5XgdG6kc
jSBsnM01WcPGjLFPtU9bs30I+8G0dbo9NbQT4SEQ5yAVvQg/u6/EirhqqjbqFNxWCpso7G031m5t
G5SykjtgZUENMq5AIZLqCPmTPn/MQl77u96JXn+0MxIIxPrTGW9zV1dztB8/XiAOzfEoI39O663s
AR4n2s6yszEoPTbfW6k/vf+eFFPuxb2V4LJb64/zVd9YIzjwNvwMwhP7xpL+RLKxg9GBnymja152
WJETAc3e9oFSvG18MpbbVjKIpNiUCvo6JVNtW84Tjrm4g6Zw2/pix7ZyCK51nQWjsVDAZ1JuBDab
J2faeh84n3Un+1qP6c8grPBD6jNaWdsrnLGp6RHZmO9qdV01q8KNfmRBYMvm2WFDT7UjD6xGUkht
7mrNcB6u1BrI+kOgb/foGWQqGQxu7bjGSCd9qS2hWDvkfBxki3mXNdifSwpN4VI64N+2ntXu25MD
EReL7AIzoMUMxGZIwRzKgxJqH2kSt8FV1Ga3ioARYQVWbYtzRhk9axuVBrK54fBQ7+hI71B4OJcd
kPp7Jqa7Xrxj376RNfs2SwOFjWs7h0ODmcxgaLhtdqaEPpDNgk3n3LFn75oRTX6RtYYBeCnaFzW+
prpBrFRIyugFMUc1jPpz80ZrYsMPJhm1mU0vId0TtFvNJLjzTtp13cXroyaDy/Y7kAgEN27wRiJP
O0RXZP3lN9lvv90QJEFEJCHNhaVkS1JIJz83ajLQQBRZxuQYfP6FmgP5FVEElG/4sWSLN9kyHUDu
RVR5tGtuHfEJ+LDej4E0kUQ/u7q6usAQOFN5SDHjV/S5NXMPgtfQ56rEhBqRwPqeou1k1VS5sZlJ
l0BNmAWGxk2z6vOpDMStODfSNne2HOndb9sCGdqEjLEDsHse7LQGabtYCfuT1ZmZqiXocFHbx/ty
nPKftXV7g0GGrE3v9DlNTlh2erwxPljtsfTN2gM+p9vkpJ3A6x5cl8rGPP5A1CdVi9UNuVipyeGw
G/o2JOL/IdUyI3GP22iK92eGoyZO0uJKN2wGPfDepf0zhfmrcU8k4hHC0Uf137A5lIlEMiHtVa0d
iMS/gDcRb2RksZDlBgVsH3RF1h+FsxlO7fFBd/DKaOEEimHKaqMr2OaGpMWVFNtHJzNCM44RKJsN
sCjxNxjMFnZNMt7BP3nLLU/eoqy99KFLL/nUJeA2qz3itE1UuzbYKYbeSwI34+SsLEdeUey69Ogz
R48+c/b6w4fXz1x8MabxOtAL/kntQcLZt7DQiqKV6UBjmQ4IsqquhXwFPEnLYtZVbE0Vv9DuTVo5
zs6t2VgukA7XB5lIpd3Bg512ZzDYHD0jahn0CQ4XP5ofmY4GfeCqUChnVfkrEmlwC3gcSZcN2SYZ
GyEP0jrtNzj8mc8IlvFxy7f13+lnnnHHbrkl5tZ/a/pUIA6oPUM0tm4RXK38nHI9ePbAx8Z+ht6n
UI7/z+A3ah9QlqgQfZrXUIvPpfnGYiSXyHAzUf0hrcDLPK7YYPKdJ+zIHYLV7Lui1B4QPH6BM9rd
3qqf9PhMJn+S72ix28nLn7n55mduVqbQXuDtaHdBi+92wUi6/UkhyNH2bDDibU1mkl0BE+X6Vkdr
3mhRnrrxWzfc8K3dGy+6aOOGiy5Sa4RwGOTgtWofcaXAxl1/dsHhalXl2x3gJnC/+twMySWhShNC
UdZRRFsEpi6cQv+92Nrf2hqJpsFNayvt6EZFymalcDar9lrNPaP2ypKY9wLiW6KhYxb3XP1J7Zit
jY3tug93zt6n1jHmwCVIVgS1Z7BSjKlNfOXKfIN2gW02fweOtvN+pzs5nJ0erAW8j4EwMefadXQj
XeObnBGqrT2+u1sAppK2fxXiONiH1mzFO+PRklWtnxSoKqY1fqr9yWS98TMWvZAXeE/QEvT0ukOW
/kp/eztfye8bHegmGdpGW8Ldkdg5NvCVCEmaJJ8Y7rQlitnedhKyNX93T5gz0zamNR+aRvBnIQ3K
ek0bdyd6hPNdybFuMmyBtE8eLJKhqIqnA+WYvVrO5ao/BFtIOZD7yqvVVSbGx+bfeC4zEEvVEw2O
i1FGamiTv/fIB/R74CWcYLiBeSG72G6zAtHnKGS+C2X9rsanjXNm8Hu057h33KGZ0E6AYOH/g3x8
eE26NLu3cnE10f02eILy52c7ajsq/vh795O737sf/fv/QHzeAC7H/cqJxmY3wR+P+8VY/HjcJyYS
og/3TGyeKxAKgoqijwJbT+v1fkS5VPm2d0JqTdl9RpQmRKLt2YKx0xt3cGQAOnwJktms4juGZGUS
7asX7+tCHRF33qFoQ8vBzy7YGMrABiK0wfFh1snYCsQcCsM9pSN5CQXwXroIOeX1kgdH4Vhm9yBb
9Rxa04xXBfXn1ZgMeaGwygBX9/rQvonZM/YfS8vB5mZZagG9pSF549rt3RvPeKw63dHbMV7E6+WQ
/Xmobn8qSJSTyPbQ+u//UY2O8BnlEf0ivcj6uJ8hVPvSNvcKWVP7S4IozukkCL1ZJqZqhsA3tAqX
kL4kFvOiXGcFiecwANwWd7CPWKb2h5LmYWNeos2Rm+BMVJFVRlGBGGOoHsR8EkPgiipUDiFu2QIe
/s4LzST7hjVulxyQFu987LyBAxofsxHMR2dTnY3KT7LwBu74DKHXtV8h96u4S0T3SfZJQy5RV/lK
jWtU+eoCcsY7bI3YASO2BhWPn6SgkbVaPYLkaDAKjSiSJXIpjhFkNM6ge3iOox0GO2dhGJBvtB0U
0dTA+xix7lS8p1UyyNO3MvPbIUuLtuPPOn1PN0PNCtU8K1uhFbfoixqZ4EentFJYVqtzPDgP5QRq
Pyst4CxUzchUSrKgPjejhhE10FgmB2sXGlh9Hm85DvPxhvbWC/UMYke9gbU9LHhbPZlm0iK0pxca
XMETDXkFqfWAkreqPaDZ0+8CrWjPDU/ZDLpef7B4ek2hv6w/fXz/eGm2/5R42XTncHp4/Uvdg9Tx
OrJKvLKwB+A85JR4DbmuEY64rug/Pbx+4L6NutO9oW0er70qXoOrwKtG48oicoNaKzMyGfQpkdzn
AHaD2yFafOWiXwy46Uo0cKWVMRs5A82eHuZ/sAK/1Wcxud2tVtdYmmJZE4NcGqXTsUelow3b4dOl
BCwT15+SktKSwP/0kH97UXZALZLVArbApy2tDepdd30ohTgV1k1yd2dTuqN7i88n+gr505ThcjJd
yLcmy1s9saiA0lY49yIyAIPqjBtuTWILJYA7EfS2HLWjlly20VetS9VttFYz48GV1x5Vpr2p4R9Y
A3komOOs0JJNj/Trfb9UrH+4JsfKCY+L4eKcTxH5uPUTez1SBe5XlOP3iLThWnAswJgYg79wkG4t
iKxy3CJFvhkOWZQ/2ox+d9YdYPdPiSSdGv3stzMWOyJM69UuqL3aKCOgKyu3aZdwH7cNLA2CwExq
6PDZlVM0bsfN/u0XOtRgyWvSgqXN45Q8ef3mkzZyA+ayLhnEF0VVqg9Q+6uRvJT16sFqO6xJzfiu
qtH60bohXk3DNXxtoR3k/wBvoBnnVeGt/K5uqVeF+L8txPx1vI/8L/DWrPfqEH9YM+UDq0P8R3WT
jrRSw3sPwrsXxeHvC/NljOLqqPjiUgu5Kmr+uKSOAufewX3hSIYE3AG5Ume4rAn4CQ3iUr1NaaVG
8QcWySt+aL/7VLCyQBXKE2BtqqePK8G6fkHEdFi9SMZOAUsTpBOAPaHLyorAbpsXC7UWRYAhJBeC
OjmzMheX2fwTID+4tPS1EgZ/tWQrEc1hfUbFiivDDTMqLF/ggS6sal1UrRhrAz1LBlbaLleexPI4
M8MxARKeMLYCqsp79gduve0Og9KqPFtvZP90632zViMN9OGVvdrwSjaEcFJ7yFEcFKlXZk/eRe6S
lwmAVmotZ08a95xG3zn80/JhD9pTtR8dyapRk6CVOtL1fr3lGtN/oyvHCQ3qwDOvFacNR4+jl4Pz
GV0xToBzfEEh6nCOnJIe3bQuB2i7HgufSBA7H/fqcPaqcIong7PMPi8HtPNke3wiJrEV4lgdrz0q
XqqWrojZMlq6HGIXLVHUE3GJLtZQQGwjmsEL4EFcK6rI+KlIRcBPQ27L33RT/sabCuj1aAu+vulo
4Sh61fft3+Gf4VMEj3JxbNO0Zzn4vAC5og82ChUD0J73GNTHlCjogn+Xv2zXx3ceOqM9UTy0+5M7
z1tfVHaCcumsXfvA5cpz1fPN/p5MEj48NPvZw5+ZahmVhma/eODhdS1rjv8HeGD001dcCqLK9rVk
qHLJuss026L2sCM5xdXeVXWx68HRaTWz/2ddZVbT1A7/0Ngj+77x1IOh08JT+XFd51aF6I/mFbKO
55H3g6euoaeF6M26I1sdoj9f0GcNzz3qU5aBVWK6nCadFtZLg5xVYU+CxXoHtR75ukysskue1MTi
1M3yt9fj4lU1zTcExlDtfcOzKDLuiHAVtFElkq1HE1pTujZoqrFYn7t+o0+dWkoPbtuQNseTyn95
IwwHodXiEIBdiJvT/Z3hM/od0IbHl9K5yYxkBuN+BrOM4Vzj4JpEUOJoUv1bvEj5FuWM96THp+Zn
VzbCV4jxee+NO5O09mBteMi6qEuqPl5Pqied6PVAK8k7Erzfypat4Za797eNRFwwiv4NY2cMZKpa
Te2e6CtaxdiIP5KslHFTOS/w5UwozZuh2iMGaoCGiHdHb/f4ZaehuSSSdtZmsNkM/lI61xcfmxIz
FWp7MhgqNacHmvzNNqdNyEeyncncVDaqdGl1WbV/Hj6t9s+veZ8d9LrDf5+N9G7dwK22oR58ccHG
/d/Qocv1+6RjvS7sq6bjo40xiUbHE/9LOjRz+D4J+aRuH1dNyKca8kKNjvtUOra9//04MSB6n0R9
62Qx06opfXqFGJnS6b5XpXuUmHm/lC/jJt4n4R9e4jdWTetTS5IqapGujRMb3z+NyxQW3yeVhcXl
xtXr4NLKI5bh0Nyb8HnwElEgBnG3SUJQ6asfn8FVtHZrnUa109yjDZ+owXONRMGoSjCI8vg5XxI+
afSmNhS61vNn7G0kDRgdcXGi2WA3TV3TVnQZx6pbd5mOPBY5VlbEpogt4LE4gKzSCiZnD09bBP+o
4PQKLeLIIvI8YquP3+UMXhD0uxL7urrij65LZBmLwQYGJkAJgMccgWF/WJ0JKqgzQa0EIVTwk80T
JoIqwjKFyB+mNt+4dEYoZ6htci6uOo6Rl+5qnBpyeNN0ckmBUbMPLyIZwvM7yZNP8NTdy0kHee7W
vcgKAz3A2JBfrgK2nmOeHPaobvlXgP3WUvv+IrLvpwG7Xok5OfCQnoGuAPx/5m0ypcO+V4WdwvHU
yaAva4JOigm9xNKstBWepbHoT9VZnKcJD55eWWEWR5OBJWM42+oF42XHcBbPCSIYk6eAoe31Ehgf
rcewy8KgG2u4Adxzpc4UnQSGtqdLgLxZf6S2LBBbg1/lVBj3Ihhh3B+y4uTSCXu3BOKPl9ZMl4W8
tMdMn/+ALxAudY5em/kgtUll1dSxHkE9PY1cGDVMyhmgpubIkgiVv/UP5vyyx0KyLEO3tfb0gfCM
nCw02xLV7Z3n3ZAZnW6K9dnSwEjOuKZ5uSPNbwHmws4JX7KzFA92ht2u4E4w3dJUGT80nRqfqiZu
OdC3u+J3tK2BNjIdbBajUoLPEfXcYVyNQaZWPTmzbDHm1OM01ZOFGauYtQFvLxthkDr/n1bnbxIn
n8Cp280VBnEeqxcWVhjIAYbG+HoVcOs2cwW42+p1ghXg/rahZl2H+8TpwdXt5QqALfW8fwXA7zbW
rzW496lwqyeHu3yYugIS4klrdytthWfFeFPD814VT1nt1ziZRCxn01dANLi03rASbvwJfagFwgf+
DP4W4WTDs5+NPWAyStPlxoYRjxCJCN5w+H/As6/ql76ooMKMPjI29sH6NV63ee4HMAneVL1XCdf9
9BQ7Q+FTeJOaGytUgEufyqqQeqd8EbwVs/hCrjsPOiJuv8EHWqLxqY/ud0YluwgSyq//yWSVxZ6O
nz5jsmeCoazHCsFLWc6XHmq68lqKMlDmDm+u7+1rUYBjbFOOAtZuc100MfWY8q7dyUfT3XFnr2pv
1PkhpCPqM7xVTRDp7m1Vg0R/Xdff1Q4UwcC8Yv+vcNbVfDU4v1HX/VXjTDbUhDScn3gfONcLhatC
WvlG3XCsGmvLgklB8qvhfW/9WenqMF9OdVdFxYtLFXrV1KQWaTrUZpWQ7OSxhTzdaSX9WebpDy19
XpeZ1Q8v3d8gM+psKYpbnNpzwEWzpY0T6aeeLDV/TB9J7us9Yaj0w8pfLxkqhZ/QJqN/vDBQ2jBP
S+o8vBfxsIsYPn0uJpYTh9NmqfLGEllYPW+/vkgWgDZPj3JKz0ox6ZL4c9l4U5txVc8Sk+fXYUuN
p9QFQYVnGw8Ui1qmpupV8iuuWHKmGBWb2txT7Xl5oRh+8e7qbuUni88Vwx2+nUg2gktg1sUCQ1Rp
aEE0rFunb/+WLSoZKHx7aqgy9F1tm9+crE4qP6yP7CK5y8+9Rf4APkxkVR2JrdwGEYmyTCxsj6A4
QmtrIh3z6Th8dUmTUkPzw+OOkVpUuQ5cPTvhBzmtp+mdrsyBa668sBlegFsetAalhpYHloNfYDm9
hen412G75+N/+eD9mo1KI3zb1dpAB65vJwR8DnJDaQeqpQ6oHh2qzU+pKaM6hEbXj5DWDwxNm0HY
kgy1+dNrwi5vbGPbrut8pXOG+icjHv+aZHmt7ILTl59JupMj2cIbZ2+hWLccCKWslPKw2V9KMLaE
6OmqNZVcwzzwcE6OlSRBCISvuio6PpVPJTzeUKw9500mPf5iOfKSLeALFvyZ0aQ/NTbUDPnYZOms
a3qm8B6o52qR1xE5nLOc5slaOGFB2Ypw2idsfQ65CPiBy9ynfdLWI+Sdbmp6xkXU8ypwI/wSyuny
pzlpPY/hqSeub6zjdsrJ6+sXkCL1Z0Tzz7lW+5RoGRN16kdGry/NS1f36GhJMw/Uzl5Cex/A2eCK
py+ROi9PcQrTb3U+rngaE/zJAv+gNjeL9tSrnV6+3ORsHfBJJmgf14EuN0kLXQvwcJ/hlUDRzjHD
58bYG8/1Ti49vwbwefD/8pte9YRMVooMCMasu6Nl2n10T0qiXWw+7gnwSXChyECl1drCQ4fhU8ch
I3Lg0F/b5WDUf94ubVYkBW2gB8Vi6kyLFlx16sWMhroFICRoB2XEC+08J5XmL+uENRCBz30KgAqy
lzZc53BbSTxEWvDkQcgLbf6O6Q6/DXqdz8KHbZ7WoNcbbPXY1qh4HILNxKvwftxH4GrILz7rjUa9
KK+AzVHBG4l4USIBiSFIA6uay/KLP71Qhv6rxfVkSJ9YHwbEzFwZAIIhHHiGWT9jtVLQz1QCLVlO
CPO7M2MxyfAxt5+2xcXh9lyXP6L+WxK2gHUovwyos0An5o/uk+WJsGWFfBASFsiBYfg1JPcGvHJF
HXJDiuS6KuDk8AvkhI87gzfgF+0M1K9Cqv69AxE25QLPu76qn32N3iOfanjPTV7nrr/XCp4nXoSv
EEY8M4aPWFcbL+7sr1BNfbClAp/3/OOgneNg4BztbPYo+vzz+udZPDKh9mzsrn8evLLk87G5K4hv
E3fgzwsLn99T//yFiz6O6G4Hz4O/UNdHewoWMJIXLkFP/V9/Yjk02YYlIZFC6x2qr9eAcQMy556w
XCMVjcvh9eauAIdUevhFFJ10vQtXWA7xZ2juE+AX2vnPNKsKnnas5rLfqSGB+a/TALkSsJpDsDXn
S1nNsbLcDkO81Wm380FYlP2ywxgrpwswOOrlvvpJy0AfdFhN5oQTrmmNtllsZlsmlBuHTrPFnHDA
we5ZFZepuYfAjxEuSDIS6jhzcgEd7SCU5PwXf4D6n+rYs3pyiWceORVZj/qYBWShVCoFYV72JqxG
oyXhl3PQ54P5VKfPLDcFSzCI3/ZYXIEm2ezrTOXRuyAnJ+MWhK9PfpBcm1+falrXPkrarWaz2WSx
w3xNHiBtcafbAav5SktLJV/FsbrbGbeRA3KpE9qdTrPZqvGXOAY+B+awFsX1qUfEvMG7zjv37nOP
nTs2ft5542M4XtqLXo4Q16tzuzh+nHd1kWWuHg0kkwG/LIO2pRdyeel/yFL65l6mftrwfTs9iMPr
V/edOwn8p34Im4D79tV3aP2beP7udL6JB/xgzca/1e5OjvepN9+7ZnVfzhNHl/rN7zz6ML73xMK3
9QAiQqSJV9TZONwDpk7kfmvJIK4+v5km/lD/nDY5N7VkYE49n+T7c6+ANYhvNEGw6hyWMQSKVah8
OVKfSIOEARyBZ6LPxPEsl6tUQ0m4FXnGSkGIZVhZ+3algnpbHd8VCpUCcqkMrhoLfKyEA6EYG5Nj
6vA5X3SaXLTZaeOM0ASd9K9pJzSQHG0yO0yk3eTstputlNG7uwJ7zg/RjMV7lc1kgBvso5A1WMAR
BwQGl/0pSJtoNx2i9u6lfayDMdE0fMruNEDocJCkwWG738dB1xNPuCiW89wtWUl0m3a5//5Pbz7m
dtGkoz6j/CT4M+Cwza5o32jw5NiYfi7YGLJnlfmelSTObYr6N+6oIQGJD5Wu52v1wnj9vNcmt982
Aoaoqw6f2YmPMp1sE0IOA7w0cBerV8KD99r8Ka01pdMoGg5/qhKIuTc7vPl0ssMCUYo3X+9+Y0o/
9k7DGflAuAbhVprHTQ1WVFuBLUQDQrjV5oTD92SE2mjZldk/Hit4UiGbjo+nJ4QP4ZtpUg/h0xBr
x2fwjV89Y2Mp6vi1CxhBUyiOD+XrIhl8KN+3NOz+PzqD0hgAeNqVkbFu2zAURS8VO02B1HNRdHjo
lAwxxDhI7AwBHA2BgU6Oxy6MRCdCZFGQBAPeMvUP+hvpD3Tu0p/qFc00bYAWqB4oHr53eflEARjg
EQrb57MaBFbYV18DR+ip74F38D7qB+7hTXQRuI9X0afAu8w/UKl6r2m073d1rPBWfQkcYU99C7yD
sfoRuId30YfAfQyij4F3mc+QwKHCBjVy3OIOLQQHSHHIWWPC0KQpMupuYMnXVDfUWaw4C2YoqXd0
qPzb+FqGIWvdzoIhmP/yb/zKcrZUr4N2hgV7EVxR55g1dC3JwtHtMBytd8/8yYZ8z5zDMvTQer/S
n995dNSdvGC/FWtLrlP/BcmLbrfqIZC4alPnt3etHKSHoicTLdPM3Vi53jStXTUyK1NXV642rc2G
ItOikHmnb2RuG1uvmZ0tErnK3dqUZS55I0ba2mR2Zep7cUs6tLYuTZu70hSy2FR2aVIrSbBlmn38
7TLwuzlwyWLB+8ClKzL84wqfhOf8mRpnGOMUI8YxThh/uErnda712fh0NDo+YfWl3dHzuU+bjrYN
xAzNe4x9II71MI7j/3D4CXcVmV142m3RRUwWAABA4U/EwA7sTkTs7u7uQMXu7u7O6dzwok7RuYET
MXGK3a2zu7vzqv88+7Z3focnyD/+rFfB/3gTMJkgyQVLIaVUUguRRlrppJdBRplklkVWobLJLoec
csktj7zyya+AggoprIiiiikuTAnhSopQSmlllFVO+UC7okoqq6KqaqqroaZaaqujrnrqa6ChRhpr
oqlmmmuhpVZaa6OtdtrroKNOOuuiq266i9RDT71E6a2PvrZYYKHDor21yCrLbRBrq2Xum2+t735Y
aZ0lTnrsm43i/PLTbzF2OO+seP30t9oAFw10zgVXXXLZFe8McsM11+002Fdr3HbTLUN88MlSwww1
3EgjjLLJaGONMc54E00wyWTvTTHNVNPNNMMBm802yxxzffTZQXc890KCXV565ZDXgSfb3PXMAw89
8tQ9T+y2x36JTtlrn9PmOWGx7c444qgkK3xxzPG/+lxvTgAAAAH//wACeNpjYGRgYOADYgkGEGBi
YGRgZngGJFnAPAYADkYBGwAAAQAAAAoAHAAeAAFsYXRuAAgABAAAAAD//wAAAAAAAHjadZRPTxNB
GMafmVmaQhrblYJYoadaI/EPqQgFelxLoxddbKVND5joBZWD4QN49sDBeODgifTgwZMHN/Eb7NWE
BpI98An2K6zPTLfL1kg2v7wz77zzzDN/WggAMyjjHsT714cHyMJiBlEEPSLevf2ocxj1OCZNzEJY
K6ZyBfv8DnGEY34nhu8m/hQ5URV14Yo3Yl98E7/EmZSyINekI4/kV/lHFVRV7akD9Ul9Vsf89siJ
+qF+qwt1YUkrZ5WsElc8jT5gSDIoRgPMRSHmyQIpRT4WGSVmOVJkjW6FbH2hS12t+77pz6MQBaiS
ZVIjq2Q98lBn3GDtJtsNxib726RFXPKSvKLqLmOXaj3SJ0PWn5MMbI5UjFpIpYBKAZUCnlA6qzMZ
5OnFJhUqOBxpEZfo2jCuDbFFhMnk6Duk75C+Q/oO6TucmLlLuqRH+iRDFZ8qPn34XNU32SFjlqsH
/3Wr19P+Zib8jZ004hWbqVXVxE6nE5c1U3t5emN3fTOnklK8zrU8M89mXGIskwrb6d069NEkLeKS
NnOdWHe8Y2H2k6fewNyyzbjEWDY7HSQ37lC7RVzSNhoBNQJqjGZ78WwvNdubeDPOhJORgp49ldr7
6Iy0r2tXOvrXzY55Z178xgKeVPpGreTexhmZZFRyIx2TT1f4rPBZkTdnPMpPm33qPY5vdDt2/DSl
k72y6nIlm783fT4qaen8VNLTr6AZvwTBf4o8bMyiiDn+Fm9gATdRwi0sooLbuIO7WMZ9PMBD1PAI
q3iMNayjjg1sYgsNOHiCFp7hOV7AxQ7a6KCLHvo4xRBnOP8LLi70YQAAeNpjYGBgZACCY6nbT4Ho
Q6nvfGA0AFE6B3AAAA==) format('woff'), url('Giovanni-Bold.ttf')  format('truetype'), url('Giovanni-Bold.svg#Giovanni-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


